@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');

:root {
    --cor1: #ffffff;
    --cor2: #000000;
    --cor3: #008000;
    --cor4: #808080;
    --cor5: #252525;

    --font-momo: 'Momo Trust Display', cursive;
    --font-goth: 'Science Gothic', cursive;
    --font-arial: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header.topo {
    background-color: var(--cor1);
    box-shadow: inset 0px -1px 0px var(--cor4);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-left: 150px;
    padding-right: 150px;
}

header.topo > div.marca {
    display: flex;
    align-items: center;
    margin-right: auto;
}

h2.scalebank > span.scale {
    color: var(--cor3);
}

h2.scalebank {
    color: var(--cor2);
    font-family: var(--font-momo);
    font-size: 1.4em;
    font-weight: normal;
    text-shadow: 1px 0px 1px var(--cor5);
}

header.topo > nav.navegacao {
    display: flex;
    
}

nav.navegacao > a {
    position: relative;
    color: var(--cor2);
    font-family: var(--font-arial);
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
}

nav.navegacao > a:hover {
    color: var(--cor1);
    background-color: var(--cor4);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

nav.navegacao > a:hover::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: var(--cor5);
}